// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url(http://fc08.deviantart.net/fs47/i/2009/194/f/3/6D_Tic_Tac_Toe_board_by_Alien__Kitty.jpg);
}

h1{
	font-family: 'Gloria Hallelujah';
	font-size: 75px;
	margin-left: 35px;
}

table{
	margin-left: 35px;
	margin-bottom: 0px;
}
div{
	height: 150px;
	width: 150px;
	text-align: center;
	background-color: rgba(0,235,0,0.2);
	border-radius: 10px;
	border: 2px solid rgb(163,125,218);
	font-family:'Gloria Hallelujah';
	font-size: 80px;
}

.hover{
	background-color: blue;
}

.click{
	background-color: yellow;
}

.o{
	
}

.x{

}

.avail{
	background-color: rgba(0,235,0,0.25);
}